= form_for [@survey, @question] do |f|
  - if @question.errors.any?
    = pluralize(@question.errors.count, "error")
    prohibited this survey from being saved:
    %ul
      - @question.errors.full_messages.each do |msg|
        .error
          = msg
          %br
  = f.label :description
  = f.text_area :description
  %br
  %br
  Options
  = f.fields_for :options do |q|
    = q.label :description
    = q.text_field :description
  %br
  %br
  = f.submit
