%h2 Please Sign Up

= form_for @user do |f|
  - if @user.errors.any?
    - @user.errors.full_messages.each do |msg|
      .error
        = msg
        %br
  = f.label :email
  %br
  = f.text_field :email
  %br
  %br
  = f.label :password
  %br
  = f.password_field :password
  %br
  %br
  = f.label :password_confirmation
  %br
  = f.password_field :password_confirmation
  %br
  %br
  = f.submit
%h3 
  Already a member
  = link_to "Sign in",login_path
